body {
  margin: 0;
  font-family: "BlinkMacSystemFont", "-apple-system", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.margin-2 {
  margin-bottom: 24px;
}

.margin-5 {
  margin-bottom: 48px;
}

.font-600 {
  font-weight: 600;
}

/* App */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: white;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 3px 6px 0 #555;
}

.header2 {
  display: flex;
  position: fixed;
  /* background: linear-gradient(transparent 0%, rgba(51, 10, 103, 0.93) 30%); */
  color: white;
  font-size: 20px;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.page-link {
  text-decoration: none;
  cursor: pointer;
}

.appName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchYear {
  margin-left: 5px;
}

.searchYear select {
  line-height: 1;
  padding: 7px 40px 8px 12px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.movieImg {
  width: 48px;
  height: 48px;
  margin: 15px;
}

.movieLogo {
  color: rgb(153, 238, 180, 1);
}

.search {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.searchBox {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  background-color: white;
  border-radius: 6px;
  width: 70%;
  align-items: center;
}

.leftSide__searchSelect-title .searchBox {
  width: 90%;
}

.search-black {
  background-color: #10161d;
  color: white !important;
}

#searchIcon {
  width: 32px;
  height: 32px;
}

#searchInput {
  color: black;
  font-style: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  overflow: hidden;
  margin-left: 15px;
}

.searchYear {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  border-radius: 6px;
  background-color: white;
}

.searchYear select {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.movieListContainer {
  --spacing: 1rem;
  --columns: 4;
  display: flex;
  flex-wrap: wrap;
  /* margin-left: calc(-1 * var(--spacing)); */
  padding: 0.5rem calc((100vw - 1200px) / 2);
  color: #7a7a7a;
}

.movieListContainer h3 {
  margin: 10px auto;
  font-weight: 400;
}

@media (min-width: 1440px) {
  .movieListContainer {
    --columns: 5;
  }
}

@media (max-width: 1179px) {
  .rightSide {
    display: none;
  }

  .middleSide {
    width: 70% !important;
  }

  .leftSide {
    width: 30% !important;
  }

  .search {
    width: 60%;
  }

  #searchBox {
    width: 60%;
  }

  .searchYear {
    width: 40%;
  }

  .infoColumn {
    width: 65%;
  }

  .right-col {
    width: 70% !important;
    margin-right: 20px !important;
  }

  .participateContent {
    flex-basis: 20% !important;
  }

  .leftSide__searchSelect-title .searchBox {
    width: 70%;
    margin-left: 20px;
  }

  .leftSide__searchResult {
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  .movieListContainer {
    --columns: 3;
  }
}

@media (max-width: 480px) {
  .movieListContainer {
    --columns: 2;
  }
}

/* MovieComponents */
.searchMovieContainer {
  width: calc(calc(100% / var(--columns)) - var(--spacing) - var(--spacing));
  height: fit-content;
  margin-left: var(--spacing);
  margin-bottom: 0.5rem;
  margin-top: 10px;
  margin-right: var(--spacing);
  cursor: pointer;
  text-decoration: none;
}

#posterSearch {
  width: 100%;
  aspect-ratio: 2 / 3;
  /* height: 100%; */
  flex-shrink: 0;
  object-fit: cover;
}

.nameSearch {
  font-style: 18px;
  font-weight: 400;
  color: #dbdbdb;
  margin: 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.5;
}

.infoSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.releaseDay {
  font-style: 16px;
  font-weight: 400;
  color: #7a7a7a;
  text-transform: capitalize;
  line-height: 1.5;
}

/* MovieInfoComponent */
.backgroundSection {
  display: flex;
  height: 600px;
  justify-content: center;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.75);
  position: relative;
  line-height: 1.5;
  filter: brightness(50%);
}

.background-section>h3 {
  color: #fff;
  font-weight: 500;
}

.background-section:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(2, 2, 2, 0.75);
  opacity: 0.8;
}

.contentSection {
  display: flex;
  flex-flow: row nowrap;
  margin-top: -350px;
  padding: 0 50px;
  padding: 0.5rem calc((100vw - 1200px) / 2);
}

#poster {
  width: 25%;
  height: 25%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 10px 10px #000000;
  z-index: 1;
}

.infoColumn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: left;
  padding: 0 60px;
}

#movieName {
  width: fit-content;
  font-size: 3rem;
  font-weight: 800;
  font-family: "Merriweather", serif;
  color: #dbdbdb;
  margin: 15px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 3rem;
  z-index: 1;
}

.movieInfo {
  font-style: 16px;
  font-weight: 400;
  font-size: 20px;
  color: #dbdbdb;
  overflow: hidden;
  margin: 5px 0;
  text-overflow: ellipsis;
  word-wrap: break-word;
  z-index: 1;
}

.movieInfo span {
  color: #b5b5b5;
  font-weight: 300;
}

.overview {
  color: #afb5a7;
  line-height: 1.5rem;
  margin: 5rem 0 1rem 0;
  font-size: 1em;
  z-index: 1;
  max-width: 100%;
}

.castList {
  display: flex;
  max-width: 767px;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
}

.castInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.castImage {
  margin: 15px;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
}

.castImage:hover {
  border: 2px solid #c19309;
}

.castRealName {
  color: #dbdbdb;
  margin-top: 5px;
  word-break: break-word;
  text-align: center;
  z-index: 1;
}

.castName {
  color: #7a7a7a;
  margin-top: 5px;
  word-break: break-word;
  text-align: center;
  z-index: 1;
  font-weight: 400;
}

.movieTrailer {
  display: flex;
  max-width: 767px;
  align-items: center;
  z-index: 1;
}

.trailer {
  display: flex;
  margin-top: 24px;
  padding: 0 60px;
}

.swiper-button-next {
  font-size: 18px;
}

/* Cast Details */
.castDetails {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  margin-top: 100px;
  /* background-color: rgba(0, 0, 0, 0.25); */
  width: auto;
  height: auto;
  color: #fff;
}

.left-col {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 25%;
  padding: 12px 32px;
}

.right-col {
  width: 75%;
  padding: 12px 32px;
  float: right;
}

.detailImg {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 5px 5px #000000;
  margin-bottom: 50px;
  align-self: center;
}

.title {
  font-size: 1.25rem;
  margin-bottom: 24px;
}

dt {
  font-weight: 600;
}

dd {
  margin: 0 0 16px 0;
  font-size: 200;
}

.actor-name {
  font-size: 32px;
}

.light-text {
  font-size: 16px;
  font-weight: 400;
  color: #b5b5b5;
}

.movie-participated {
  display: flex;
  flex-flow: row wrap;
}

.poster {
  width: 100%;
  aspect-ratio: 2 / 3;
  /* height: 100%; */
  flex-shrink: 0;
  object-fit: cover;
}

.participateContent {
  flex-basis: 25%;
  padding: 12px 20px;
}

/* movie index */
.swiper-slide {
  display: flex;
  flex-direction: column;
}

.swiper-pagination-bullets {
  display: none;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
}

.swiper-pagination-bullets {
  display: none;
}

.containerMain {
  list-style: none;
  object-fit: cover;
  padding: 0.1rem calc((100vw - 1300px) / 2);
  display: flex;
  flex-direction: row;
}

/* LeftSite Flex*/

.leftSide {
  display: flex;
  width: 20%;
  border-right: 1px solid rgba(75, 82, 139, 0.3);
  height: auto;
  flex-direction: column;
  padding-top: 40px;
}

.fixed__left {
  position: fixed;
  width: 250px;
  height: auto;
}

.message__search--index {
  color: #fff;
  font-size: 10px;
  margin-left: 10px;
}

.leftSide__appInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftSide__appInfo-logo {
  width: 48px;
  height: 48px;
  margin: 15px;
}

.leftSide__appInfo-title {
  color: rgb(153, 238, 180, 1);
  font-weight: 600;
}

.leftSide__searchSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0 0 0px;
}

.leftSide__searchSelect-icon {
  width: 32px;
  height: 32px;
}

.leftSide__searchSelect-title {
  color: #878787;
}

/* MiddleSide Flex */
.middleSide {
  width: 60%;
  margin-top: 40px;
}

.slideShowTop {
  width: 90%;
  margin: 0 auto;
  object-fit: cover;
  position: relative;
  display: block;
}

.slideShowTop__picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
}

.slideShowTop__title {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  width: fit-content;
  height: auto;
  padding: 5px 10px;
  margin: 5px 10px 20px 10px;
  background-color: #333;
  opacity: 0.9;
}

.slideShowBottom {
  width: 90%;
  margin: 40px auto;
  object-fit: cover;
}

.slideShowBottom h1 {
  color: #f3f4f6;
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: inherit;
  margin-top: 0px;
}

.slideShowBottom__picture {
  display: block;
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  margin: 0;
}

.slideShowBottom__title {
  --padding-size: 10px;
  width: calc(100% - var(--padding-size));
  font-size: 18px;
  line-height: 28px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  background-color: #27282e;
  color: #f3f4f6;
  padding: 4px 0 6px var(--padding-size);
  border-radius: 0 0 12px 12px;
  flex: 1;
  font-weight: 400;
}

/* RightSide Flex*/
.rightSide {
  width: 20%;
  margin-top: 40px;
}

.rightSide h1 {
  color: #f3f4f6;
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: inherit;
  margin-top: 0px;
}

.topSearches {
  display: flex;
  flex-direction: column;
}

.topSearches__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 12px 0;
  cursor: pointer;
}

.topSearches__item-picture {
  width: 40%;
  aspect-ratio: 2.5 / 1.5;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  margin-right: 8px;
  flex-shrink: 0;
}

.topSearches__item-title {
  font-size: 20px;
  color: #f3f4f6;
  flex: 1;
  font-weight: 400;
  font-size: 15px;
}

.leftSide__searchResult {
  display: flex;
  flex-direction: column;
}

.result__item {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 10px 0px;
  padding: 5px;
  cursor: pointer;
}

.result__item:hover {
  background-color: #4c5a67;
  border-radius: 5px;
}

.link__searchIndex {
  cursor: context-menu;
}

.result__item img {
  display: block;
  width: 20%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0;
}

.result__info {
  padding: 10px 10px 0px 10px;
}

.info__name {
  font-size: 20px;
  color: #f3f4f6;
  flex: 1;
  font-weight: 600;
  font-size: 15px;
}

.info__year {
  font-size: 20px;
  color: #f3f4f6;
  flex: 1;
  font-weight: 400;
  font-size: 15px;
  margin-top: 5px;
}

.seeAllResult {
  color: #78a6b8;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

.seeAllResult:hover {
  color: #fff;
}